@font-face
  font-family 'Behrens Antiqua';
  src url('/fonts/BehrensAntiqua.eot')
  src url('/fonts/BehrensAntiqua.eot?#iefix') format('embedded-opentype'),
      url('/fonts/BehrensAntiqua.woff') format('woff'), 
      url('/fonts/BehrensAntiqua.ttf') format('truetype'), 
      url('/fonts/BehrensAntiqua.svg#Behrens Antiqua') format('svg');
  font-weight normal;
  font-style normal;

@font-face
  font-family 'Noto Sans';
  src url('/fonts/NotoSans.eot')
  src url('/fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
      url('/fonts/NotoSans.woff') format('woff'), 
      url('/fonts/NotoSans.ttf') format('truetype'), 
      url('/fonts/NotoSans.svg#Behrens Antiqua') format('svg');
  font-weight normal;
  font-style normal;

