@import './base/fonts.styl'
@import './base/reset.styl'

.wrapper
  display flex
  min-height 100vh
  flex-direction column
.wrapper-fluid
  width 1440px
  margin 0 auto
  padding 0 150px
  box-sizing border-box
  display flex
  flex-direction column
  flex-wrap: nowrap
  justify-content space-between
  align-content stretch
  &_content
    margin 50px 0
.swiper-wrapper
  flex-direction row
main
  flex 1
h2
  font-size: 40px
  line-height normal
  font-family "Behrens Antiqua", sans-serif
p
  font-family "Noto Sans", sans-serif

.swiper-container
  width 100%
.swiper-slider
  position relative
  .swiper-button-next
    background-image url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAxNSAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMC45OTk5OTkgMUwxNCAxMS41TDEgMjIiIHN0cm9rZT0iI0E0QTRBNCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=')
    box-shadow 0px 0px 15px rgba(0, 0, 0, 0.2)
    border-radius 50px
    padding 5px
    height 50px
    width 50px
    box-sizing border-box
    background-size 13px
    margin-right -85px
    &:active
      box-shadow 0px 0px 15px rgba(0, 0, 0, 0.24)
    &:focus
      outline none
    &:hover  
      transition all .2s ease
      background-image url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAxNSAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMC45OTk5OTkgMUwxNCAxMS41TDEgMjIiIHN0cm9rZT0iI0U4RDM1RiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48L3N2Zz4=')
  .swiper-button-prev
    background-image url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAxNSAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQgMjJMMSAxMS41TDE0IDAuOTk5OTk5IiBzdHJva2U9IiNBNEE0QTQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+')
    box-shadow 0px 0px 15px rgba(0, 0, 0, 0.2)
    border-radius 50px
    padding 5px
    height 50px
    width 50px
    box-sizing border-box
    background-size 13px
    margin-left -85px
    &:focus
      outline none
    &:active
      box-shadow 0px 0px 15px rgba(0, 0, 0, 0.24)
    &:hover
      transition all .2s ease
      background-image url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAxNSAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQgMjJMMSAxMS41TDE0IDAuOTk5OTk5IiBzdHJva2U9IiNFOEQzNUYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+')