@import './base/fonts.styl'
@import './base/reset.styl'

.wrapper
  display flex
  min-height 100vh
  flex-direction column
main
  flex 1
h1
  font-family "Behrens Antiqua", sans-serif

p
  font-family "Noto Sans", sans-serif